In [3]:
import pandas as pd
import pymongo

df = pd.read_csv('spam.csv',encoding='latin-1')
df.head(2)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [11]:
df['Unnamed: 4'].isnull().sum()

np.int64(5566)

In [13]:
df.drop(['Unnamed: 3',"Unnamed: 2","Unnamed: 4"],axis=1,inplace=True)

In [14]:
data = df.to_dict(orient='records')

In [ ]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://iamhimanshu12goel:m8TWsYhNboudh5od@cluster0.9yqysfn.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [ ]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [ ]:
rec = collection.insert_many(data)

In [ ]:
df = pd.DataFrame(list(collection.find()))
df.head(2)