In [17]:
import pandas as pd
import pymongo

df = pd.read_csv('spam.csv',encoding='latin-1')
df.head(2)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [19]:
df['Unnamed: 4'].isnull().sum()

np.int64(5566)

In [20]:
df.drop(['Unnamed: 3',"Unnamed: 2","Unnamed: 4"],axis=1,inplace=True)

In [21]:
data = df.to_dict(orient='records')

In [22]:
DB_NAME = "US_VISA"
COLLECTION_NAME = "visa_data"
CONNECTION_URL = "mongodb+srv://iamhimanshu12goel:NRe2SQnIg8IIFgtz@cluster0.kpwj87r.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [23]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [24]:
rec = collection.insert_many(data)

In [25]:
df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,v1,v2
0,684832ef7a9d726daa07e149,ham,"Go until jurong point, crazy.. Available only ..."
1,684832ef7a9d726daa07e14a,ham,Ok lar... Joking wif u oni...